<div class="row">
  <div class="col-md-12 ms-header" [ngClass] = "{'small-ms-navigation':shrink}">
    <div class="container">
      <div class="col-md-12 ms-navigation">
        <div class="row">
          <ul class="pull-right ms-uppernav" [ngClass] = "{'hide-ms-uppernav':shrink}">
            <li class="ms-upper-item">login</li>
            <li class="ms-upper-item">register</li>
          </ul>
        </div>
        <div class="row">
          <ul class="pull-right ms-lovernav">
            <b>
              <li class="ms-lover-item">
                <div class="ms-inner-item" [ngClass] = "{'small-ms-inner-item':shrink}">categories</div>
              </li>
              <li class="ms-lover-item" >
                <div class="ms-inner-item" [ngClass] = "{'small-ms-inner-item':shrink}">events</div>
              </li>
              <li class="ms-lover-item">
                <div class="ms-inner-item" [ngClass] = "{'small-ms-inner-item':shrink}">planning tools</div>
              </li>
              <li class="ms-lover-item">
                <div class="ms-inner-item" [ngClass] = "{'small-ms-inner-item':shrink}">inspiration</div>
              </li>
            </b>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 ms-search">
    <div class="container">
      <div class="col-md-8 col-md-offset-2 ms-search-input" (click)="showVendorCategories()">
        <div class="col-md-11">Find vendors by category</div>
      </div>
      <div class="col-md-12  ms-search-dropdown" *ngIf="vendorCategories">
        <div class="row" class="ms-arrow-holder">
          <div class="ms-arrow-border"></div>
          <div class="ms-arrow-full"></div>
        </div>
        <div class="row" class="col-md-12 ms-dropdown-box">
          <div class="col-md-4 ms-dropdown-left"></div>
          <div class="col-md-8 ms-dropdown-right">
          <div #msFirst class="ms-first" [ngClass] = "{'ms-swing-dropdown-item':vendorCategories}">
            <div class="col-md-3 ms-dropdownitem-hodler">
              <div class="col-md-12 ms-dropdown-item">
                <span aria-hidden="true">
                  <img class="ms-glyphicon" src="../../assets/images/photo@2x.png">
                </span> Fotografi
              </div>
            </div>
            <div class="col-md-3 ms-dropdownitem-hodler">
              <div class="col-md-12 ms-dropdown-item">
                <span aria-hidden="true">
                  <img class="ms-glyphicon" src="../../assets/images/vencanice.png">
                </span> Vencanice
              </div>
            </div>
            <div class="col-md-3 ms-dropdownitem-hodler">
              <div class="col-md-12 ms-dropdown-item">
                <span aria-hidden="true">
                  <img class="ms-glyphicon" src="../../assets/images/obuca.png">
                </span> Obuca
              </div>
            </div>
            <div class="col-md-3 ms-dropdownitem-hodler">
              <div class="col-md-12 ms-dropdown-item">
                <span aria-hidden="true">
                  <img class="ms-glyphicon" src="../../assets/images/kuca.png">
                </span> Restorani
              </div>
            </div>
          </div>

          <div class="ms-second" [ngClass] = "{'ms-swing-dropdown-item':vendorCategories}">
            <div class="col-md-3 ms-dropdownitem-hodler">
              <div class="col-md-12 ms-dropdown-item">
                <span aria-hidden="true">
                  <img class="ms-glyphicon" src="../../assets/images/cvecare.png">
                </span> Cvecare
              </div>
            </div>
            <div class="col-md-3 ms-dropdownitem-hodler">
              <div class="col-md-12 ms-dropdown-item">
                <span aria-hidden="true">
                  <img class="ms-glyphicon" src="../../assets/images/torta.png">
                </span> Torte
              </div>
            </div>
            <div class="col-md-3 ms-dropdownitem-hodler">
              <div class="col-md-12 ms-dropdown-item">
                <span aria-hidden="true">
                  <img class="ms-glyphicon" src="../../assets/images/restorani.png">
                </span> Ketering
              </div>
            </div>
            <div class="col-md-3 ms-dropdownitem-hodler">
              <div class="col-md-12 ms-dropdown-item">
                <span aria-hidden="true">
                  <img class="ms-glyphicon" src="../../assets/images/prsten.png">
                </span> Prstenje
              </div>
            </div>
          </div>

          <div class="ms-third" [ngClass] = "{'ms-swing-dropdown-item':vendorCategories}">
            <div class="col-md-3 ms-dropdownitem-hodler">
              <div class="col-md-12 ms-dropdown-item">
                <span aria-hidden="true">
                  <img class="ms-glyphicon" src="../../assets/images/frizure.png">
                </span> Frizura i sminka
              </div>
            </div>
            <div class="col-md-3 ms-dropdownitem-hodler">
              <div class="col-md-12 ms-dropdown-item">
                <span aria-hidden="true">
                  <img class="ms-glyphicon" src="../../assets/images/masna.png">
                </span> Odelo
              </div>
            </div>
            <div class="col-md-3 ms-dropdownitem-hodler">
              <div class="col-md-12 ms-dropdown-item">
                <span aria-hidden="true">
                  <img class="ms-glyphicon" src="../../assets/images/muzika.png">
                </span> Muzika
              </div>
            </div>
            <div class="col-md-3 ms-dropdownitem-hodler">
              <div class="col-md-12 ms-dropdown-item">
                <span aria-hidden="true">
                  <img class="ms-glyphicon" src="../../assets/images/planer.png">
                </span> Planer
              </div>
            </div>
          </div>
         </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 ms-body" style="height: 1000px"></div>
</div>