
.ms-header{
    /*height: 110px;*/
    position: fixed;
    z-index: 10000;
    right: 0px;
    background: white;
    height:111px;
    transition: all 0.04s ease-out;
    box-shadow: 0px -1px 6px #d4d4d4;
}

.ms-search{
    border-top:1px solid #f7f7f7;
    border-bottom:1px solid #f7f7f7;
    height:710px;
    background: #f4f4f4;
    box-shadow: 0px -1px 6px #888;
}

.ms-navigation{
    text-transform: uppercase;
}

.ms-uppernav{
    white-space: nowrap;
    padding: 20px 19px 10px 0px;
    margin-bottom: 0px;
    color:#737373;
    font-size: 11px;
}

.ms-lovernav{
    white-space: nowrap;
    margin-bottom: 0px;
}

.ms-upper-item{
    display: inline-block;
    padding: 0px 15px;
    margin-left: -4px;
}

.ms-upper-item:first-child{
    border-right:1px solid #dcdcdc;
}

.ms-lover-item{
    display: inline-block;
    padding:0px 30px;
    font-weight: 500 !important;
}

.ms-lover-item:hover{
    cursor: pointer;
}

.ms-inner-item{
    padding:15px 4px 30px 4px;
    border-bottom:1px solid white;
    -webkit-transition: color 0.3s;
    -moz-transition:    color 0.3s;
    -ms-transition:     color 0.3s;
    -o-transition:      color 0.3s;
    transition:         color 0.3s;
}

.small-ms-inner-item{
    padding:15px 4px 14px 4px;
}

.ms-inner-item:hover{
    /*padding:15px 4px 30px 5px;*/
    border-bottom:1px solid black;
    color: #a6a6a6;
    /*font-weight: 400;*/
}

.hide-ms-uppernav{
    display: none;
}

.small-ms-navigation{
    height: 50px;
}

.ms-search-input{
    border: 1px solid white;
    margin-top: 500px;
    padding: 17px 25px;
    background: white;
    border-radius: 1px;
    box-shadow: 0px 0px 4px #c5c5c5;
    font-size: 16px;
    cursor: pointer;
}

.ms-search-dropdown{
    padding: 0px 0px;
}

.ms-arrow-border{
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #dcdcdc;
    position: absolute;
    right: 20px;
    top:15px;
}

.ms-arrow-full{
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid white;
    margin-top:-19px;
    margin-left: 0px;
    position: absolute;
    right: 20px;
    top:35px;
    z-index: 1;
}

.ms-dropdown-box{
    border: 1px solid #dcdcdc;
    background: white;
    margin-top:30px;
    border-radius: 1px;
    padding:30px 20px;
    perspective: 150px;
    height: 300px;
    color:#646466;
}

.ms-first{
    display: none;
    /*animation: mymove 0.3s 1;*/
    /*animation-delay: 1s;*/
}

.ms-second{
    animation-delay: 0.3s;
    display: none;
    /*animation: mymove 0.3s 1;*/
}

.ms-third{
    display: none;
    animation-delay:0.6s;
    /*animation: mymove 0.3s 1;*/
}

.ms-dropdownitem-hodler{
    text-align: left;
    padding:0px 0px;
}

.ms-dropdown-item{
    background: white;
    padding: 22px 0px;
    transform-origin: 0% 0%;
    /*border-bottom: 1px solid #efefef;*/
}

.ms-dropdown-row{
    border-bottom:1px solid #efefef;
}

.ms-dropdown-left{
    height: 100%;
    border-right:1px solid #dcdcdc;
}

.ms-dropdown-right{
    padding-right:0px;
    padding-left:50px!important;
}

@keyframes mymove {
    0% {transform: rotateX(-5deg);}
    100% {transform: rotateX(0deg);}
}

.ms-glyphicon{
    height: 15px;
}

